/*!
 * Modalon v1.0.0
 * https://github.com/drihup/modalon
 * MIT License
 */
body {
  overflow: auto;
}
.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 0;
  overflow: auto;
  z-index: 1010;
}
.modal {
  display: none;
  width: 90%;
  background-color: #FFF;
  margin: auto;
  border-radius: 4px;
  z-index: 1020;
}
@media (min-width: 768px) {
  .modal {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .modal {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 75%;
    max-width: 1000px;
  }
}
.modal .modal-header:after,
.modal .modal-body:after {
  display: block;
  content: " ";
  clear: both;
}
.modal .modal-header,
.modal .modal-body {
  padding: 15px;
}
.modal :first-child {
  margin-top: 0;
}
.modal :last-child {
  margin-bottom: 0;
}
.modal .modal-header {
  background-color: #F8F8F8;
  border-bottom: 1px solid #EEE;
  border-radius: 4px 4px 0 0;
}
.modal .modal-body {
  border-radius: 0 0 4px 4px;
}
.modal .modal-body:first-child {
  border-radius: 4px;
}
.modal.fixed {
  max-height: 100%;
  overflow: auto;
}
.modal::-webkit-scrollbar {
  width: 12px;
  border-radius: 0 4px 4px 0;
}
.modal::-webkit-scrollbar-track {
  background-color: #F8F8F8;
  border-radius: 0 4px 4px 0;
}
.modal::-webkit-scrollbar-thumb {
  background-color: #CCC;
  border: 2px solid #F8F8F8;
  border-radius: 4px;
}
